@model IEnumerable<WebBanHang.Models.HoaDon>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<div class="col-lg-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h2 class="card-title">Danh sách hóa đơn</h2>

            <a href="~/Admin/AdminHoaDons/Create">
                <button type="button" class="btn btn-primary btn-fw">Tạo một hóa đơn mới</button>
            </a>
         
            <div class="table-responsive">

                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th style="color:white">
                                Tên khách hàng
                            </th>
                            <th style="color:white">
                                Ngày mua
                            </th>
                            <th style="color:white">
                                Tổng số lượng
                            </th>
                            <th style="color:white">
                                Tổng tiền
                            </th>
                            <th style="color:white">
                                Phương thức thanh toán
                            </th>
                            <th style="color:white">
                                Trạng thái
                            </th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>

                        @foreach (var item in Model)
                        {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.KhachHang.TenKH)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.NgayMua)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.TongSoluong)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.TongTien)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.PhuongThucThanhToan.TenPT)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.TrangThai.TenTrangThai)
                            </td>
                          
                            <td>
                                <a href="~/Admin/AdminHoaDons/Details/@item.IDHD">
                                    <button style="min-width:50px" type="button" class="btn btn-outline-success btn-fw">Details</button>
                                </a>
                                <a href="~/Admin/AdminHoaDons/Edit/@item.IDHD">
                                    <button style="min-width:50px" type="button" class="btn btn-outline-warning btn-fw">Edit</button>
                                </a>
                                <a href="~/Admin/AdminHoaDons/Delete/@item.IDHD">
                                    <button style="min-width:50px" type="button" class="btn btn-outline-danger btn-fw">Delete</button>
                                </a>
                            </td>
                        </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>